# matplotlib==3.4.2
numpy==1.19.5
pandas==1.2.4
librosa==0.8.1
scipy==1.6.1
tensorflow==2.5.0
streamlit==0.86.0
awesome_streamlit==20200728.1
soundfile==0.10.3.post1
mlflow==1.19.0
muda==0.4.1
jams==0.3.4
jiwer==2.2.0
seaborn==0.11.1
libsndfile1-dev
